.popup__tooltip-img {
    width: 120px;
    height: 120px;
    background: none;
    align-items: center;
    padding-top: 60px;
  }

  @media screen and (max-width: 767px) {
    .popup__tooltip-img   {
    padding-top: 50px;
    }
  }